@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: linear;
  transition-duration: 300ms;
}

.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);
}

.font-raleway {
  font-family: var(--font-raleway);
}

.font-roboto {
  font-family: var(--font-roboto);
}

@layer base {
  :root {
    /* palette colors */
    --deep-blue: 215 31% 30%;
    --dark-blue: 257 17% 14%;
    --light-blue: 210 36% 63%;
    --lighter-blue: 210 36% 73%;
    --darker-gray: 25 0% 40%;
    --light-gray: 25 0% 70%;
    --baige: 0 29% 95%;
    --almost-black: 257 17% 8%;
    --almost-white: 257 17% 83%;
    --very-white: 0 90% 100%;
    --amber-600: 32 95% 44%;
    /* --orange: 21, 100%, 65%; */
    /* palette colors */

    --background: 0 29% 95%;
    --foreground: 21 92% 8%;
    --card: 0 29% 95%;
    --card-foreground: 21 92% 8%;
    --popover: 0 29% 95%;
    --popover-foreground: 21 92% 8%;
    --primary: 0 29% 95%;
    --primary-foreground: 21 92% 8%;
    --secondary: 257 17% 8%;
    --secondary-foreground: 0 29% 95%;
    --muted: 24 5% 64%;
    --muted-foreground: 24 6% 83%;
    /* --muted: 0 0% 39%;
    --muted-foreground: 0 0% 47%; */
    --accent: 351 95% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9% 98%;
    --border: 20 6% 90%;
    --input: 20 6% 90%;
    --ring: 351 95% 71%;

    --radius: 0.5rem;

    --chart-1: 173 58% 39%;
    --chart-2: 197 37% 24%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;
  }

  .dark {
    --background: 257 17% 8%;
    --foreground: 257 17% 83%;
    --card: 257 17% 8%;
    --card-foreground: 257 17% 83%;
    --popover: 257 17% 8%;
    --popover-foreground: 257 17% 83%;
    --primary: 257 17% 8%;
    --primary-foreground: 257 17% 83%;
    --secondary: 257 17% 8%;
    --secondary-foreground: 257 17% 83%;
    --muted: 12 7% 15%;
    --muted-foreground: 24 5% 64%;
    --accent: 351 95% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 9% 98%;
    --border: 12 7% 15%;
    --input: 12 7% 15%;
    --ring: 351 95% 71%;

    --chart-1: 160 60% 45%;
    --chart-2: 30 80% 55%;
    --chart-3: 280 65% 60%;
    --chart-4: 340 75% 55%;
    --chart-5: 220 70% 50%;
  }

  .font-outline {
    -webkit-text-stroke: 1px hsl(var(--almost-black));
    /* -webkit-text-stroke: 1px hsl(var(--foreground)); */
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px hsl(var(--almost-black));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
